<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}WUSL{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/moden.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    {% endblock %}
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/form">Form</a></li>
                <li><a href="/tracker">Tracker</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        &copy; 2023 WUSL
    </footer>
</body>
</html>