{% extends "base.html" %}

{% block title %}Form - WUSL{% endblock %}

{% block content %}

<main>

{% for message in get_flashed_messages() %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% if name %}
    <p>Hello, {{ name }}!</p>

{% else %}
    <div class="form-container">
        <h2>User Information Form</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endif %}
</main>
{% endblock %}

